# Used by `pnpm set-webhook`
BOT_TOKEN=123456789:replace-with-your-bot-token
WEBHOOK_SECRET=replace-with-a-random-string_A-Za-z0-9_-
WEBHOOK_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com/webhook
